@import 'src/styles.scss';

.main-container {
  height: 100%;
  width: 100%;
  padding: 20px;

  mat-tab-group {
    ::ng-deep {
      .mat-tab-body {
        margin-top: 5px;
      }
      .mat-tab-body-content { // USEFUL HIDE SCROLLBAR
        overflow: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
      }
      .mat-tab-body-content::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
      }
    }
  }

  .flex-container {
    height: calc(100% - 25px);
    max-height: 100%;
  }

  .info-card-container {
    div {
      overflow: scroll;
      overflow-x: hidden;
      height: 100%!important;
      max-height: 100%;
    }
  }

  .chiffres-cles-container {


  }

  .grid-card-fill {
    padding: 0 10px 0 0;
  }

  .map-card {
    height: 100%;
    ::ng-deep {
      .mat-card-content {
        height: 100%;
        .card-content { height: 95% }
      }

    }
  }

}
