<mat-card class="info-card">
    <mat-card-header>
        <!--div mat-card-avatar class="card-header-image"></div-->
        <mat-card-title><a class="no-link" href="{{ url }}" target="_blank">{{ title }}</a></mat-card-title>
        <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <a href="{{ url }}" target="_blank"><img width="430" height="180" mat-card-image src="{{ imgLink }}" alt="Image"></a>
    <mat-card-content>
        <div style="white-space: pre-line;">
            <p class="p-overflow-hidden">
                {{ content }}
            </p>
        </div>
    </mat-card-content>
    <!--mat-card-actions>
        <button mat-button>J'aime</button>
        <button mat-button>Partager</button>
    </mat-card-actions-->
</mat-card>
